@charset "utf-8";
/* CSS Document */

body {
  background-color:	#f4f4f4;
  font-size:17px;
     }

.pad-top {
      padding-top:20px;
         }
		 
#filtre
{
  height: 30px;
  width: 130px;
  display: inline-block;
 
}