@charset "utf-8";
/* CSS Document */

body {
    background-color:	#555555;
    font-size:17px;
}

.pad-top {
    padding-top:20px;
}
.remove-right{
    float: right;

    padding-top: 10px;
    color: red !important;
}
.filtre_ligne
{
    height: 30px;
    width: 130px;
    display: inline-block;
    margin-left: 10%;
}

#panel-table
{
    margin-right:0;

}
#show-form{
    float: left;
    margin: 30px;
    width: 94%;
}
.bg-white{
    background: #fff !important;
}
.panel-reduit-4, .panel-reduit-5{
    overflow: auto;
}

.right-header{
    float: right;

}
.btn-bleu
{
    float:right;
    margin-right:50;
}
.btn-bleu-filtre{
    float:right;
}
.whiteSpace{
    white-space: nowrap;
}
.table
{
    margin-right:20;
    margin-left:30px !important;
    width:90%;
    font-size: 0.7em;
}
.table td.whiteSpace{
    white-space: nowrap;
}
tr.bri{
    background: #f0d7d7 !important;
    color: #1e1ef2;
}

/* nav menu styles */
#nav {
    display: block;
    width: 90%;
    margin: 0 auto;
    -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,0);
    -moz-box-shadow: 3px 2px 3px rgba(0,0,0,0);
    box-shadow: 3px 2px 3px rgba(0,0,0,0);
    list-style:none;
    margin-left: 0px;
}

#nav li {
    list-style:none;
    background: #fff;
}

#nav > li > a {
    display: block;
    padding: 16px 18px;
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    border-top: 1px solid #212121;
    background-color: #fff;
}
#nav > li > a:hover, #nav > li > a.open {
    border-bottom-color: #384f76;
    background-color: #5bc0de;
    background: rgba(209, 224, 247, 0.54);
    background: -moz-linear-gradient(top, #6985b5, #456397);
    background: -ms-linear-gradient(top, #6985b5, #456397);
    background: -o-linear-gradient(top, #6985b5, #456397);
    background: linear-gradient(top, #6985b5, #456397);
}
.glyphicon{
    color: #F6DC72;
}
.glyphicon-file{
    color: #b4e2e0;
}
#nav li ul {display: none;background: #fff;}
.brav-fix{
    margin: 11% 2% 0px 52%;
    width: 364px;
    position: fixed;
    z-index: 9;
}
#nav li ul li a {
    display: inline-block;
    background: none;
    padding: 5px 0px;
    padding-left: 0px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}
#nav li ul li a:hover {
    background: rgba(209, 224, 247, 0.54);
}
#nav li ul.active{
    display: block;
}
#nav li ul.active li.active a {
    background: rgba(209, 224, 247, 0.54);
}
#menu_gauche .active
{
    /* background: #394963; */
}
.tab-panel {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}
#search_glob{
    float: right;
}
.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}
div.dataTables_paginate{
    text-align: left !important;
    margin-right: 2.29em !important;
    margin-top: 1em !important;
}
div.dataTables_filter{
    text-align: center !important;
    padding: 10px;
}
.dataTables_length{
    margin-left: 1em !important;
}
#mainTables_info{
    margin-top: 1em !important;
    margin-left: 2.3em;
}
#ul_bib li{
    text-transform: uppercase;
}
.has-error  {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
#msg_error{
    font-size:70%;
    color:red;
    visibility:hidden;
}


.tab{
    background-color: #ccc;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.scroll_ul{   
    height:400px; 
    overflow:hidden;
    overflow-y:scroll;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

@media (min-width: 992px){
    .col-md-9 {
        width: 74%;
    } 
}

#menu_gauche_ul{
-webkit-padding-start: 20px;
-webkit-padding-end: 7px;
}

a.dt-button{
padding:0.2em 1em;
}